@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Onest:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }
}
@layer components {
  .search-input {
    @apply bg-[#F9F9F9] outline-none font-inter text-[#8A8A8A] text-[1rem];
  }
}