@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Onest:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }
}

@layer components {
.search-input {
    @apply bg-[#F9F9F9] outline-none font-inter text-[#8A8A8A] text-[1rem];
  }
.contact-input {
  @apply border-[2px] border-[#F5F5F5] outline-none px-5 py-[17px] rounded-xl focus:border-[2px] focus:border-[#7B6944] bg-white;
}
.default-input {
  @apply border-[1px] border-[#D3D3D3] border-opacity-40 outline-none px-5 py-[13px] rounded-xl focus:border-[1px] focus:border-[#7B6944] bg-white h-[42px] text-[13px];
}
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
.loading-wave {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 10px;
  height: 15px;
  margin: 0 5px;
  background-color: #B69F6F;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}

.slider-wrapper {
  position: relative;
  /* height: 40px; */
  /* margin: 20px 0; */

}

.slider {
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
    background: #F4F2DE;
  z-index: 2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #B69F6F;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  
  .slider-progress {
    position: absolute;
    height: 5px;
    background-color: #F4F2DE;
    z-index: 1;
    border-radius: 5px;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
  background: transparent;
  z-index: 2;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><circle cx="12" cy="12" r="11.25" fill="%23B69F6F" stroke="white" stroke-width="1.5"/><path d="M10 9L10 15" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M14 9L14 15" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat center;
    background-size: contain;
    border: none;
  cursor: pointer;
  z-index: 4;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><circle cx="12" cy="12" r="11.25" fill="%23B69F6F" stroke="white" stroke-width="1.5"/><path d="M10 9L10 15" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M14 9L14 15" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
}
.slider-progress {
  position: absolute;
  height: 4px;
  background-color: #B69F6F;
  z-index: 1;
  border-radius: 2px;
}

.slider-values {
  display: flex;
  justify-content: space-between;
}
.disabled-date {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent !important;
}

.react-calendar__navigation {
  color: black !important;
  min-width: 44px;
  background: none;
  font-size: 16px;
  background-color: #F5F5EF;
}

.react-calendar__navigation:hover {
  color: black !important;
  min-width: 44px;
  background: #F5F5EF;
  font-size: 16px;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  border: none;
  border-radius: 12px;
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
  border: none;
  border-radius: 12px;
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker-popper .react-datepicker__navigation {
  padding-top: 7px;
  color: #000;
}

.react-datepicker {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.189);
  border: none !important;
  font-family: "Inter" !important;
}

.react-datepicker__header {
  border-bottom: solid 5px var(--light) !important;
  background: #F5F5EF !important;
  color: #000;

}

.react-datepicker__current-month {
  color: var(--dark) !important;
}

.react-datepicker__day.react-datepicker__day--selected {
  border: none;
  border-radius: 7px;
  background-color: #B69F6F;
  color: white;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  border: none;
  border-radius: 7px !important;
  background-color: var(--brand) !important;
  color: var(--dark) !important;

}